.Kontakt {
  width: 100%;
  height: 100vh;
  padding: 50px 0 0 0;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

.headers h1,
.headers h2 {
  font-weight: 200;
  text-align: left;
  color: #fff;
}
.headers h1 {
  font-size: 36px;
}
.headers h2 {
  font-size: 18px;
  padding-left: 13px;
}

.active::after {
  width: 100%;
}
.logo {
  width: 100px;
  height: auto;
  pointer-events: none;
  margin-right: 10px;
}
.arrow {
  width: 44px;
  height: 48px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 5%;
}
.kon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
}
.kon-content h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 60px;
}
.kon-cols {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  width: 800px;
}
.left-col, .right-col {
  margin: 0 20px;
}
.left-col p {
  font-size: 16px;
  text-align: justify;
  max-width: 300px;
}
.left-col a {
  font-size: 16px;
  padding: 15px 40px;
  border: 2px solid #000;
  border-radius: 10px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.left-col a:hover {
  background-color: #000;
  color: #fff;
}
.info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.info p {
  font-size: 18px;
  margin-left: 20px;
}
.right-col h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
form {
  max-width: 260px;
}
input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
textarea {
  border: 2px solid #000;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
}
input[type=submit] {
  font-size: 16px;
  color: #000;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #000;
  transition: 0.3s;
  margin-bottom: 0;
}
input[type=submit]:hover {
  color: #fff;
  background-color: #000;
}
