.Kontakt {
  width: 100%;
  height: 100vh;
  padding: 50px 0 0 0;
  background-image: url("../bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

.headers h1,
.headers h2 {
  font-weight: 200;
  text-align: left;
  color: #fff;
}
.headers h1 {
  font-size: 24px;
}
.headers h2 {
  font-size: 16px;
}

.active::after {
  width: 100%;
}
.logo {
  width: 70px;
  height: auto;
  pointer-events: none;
  margin-right: 10px;
}
.arrow {
  width: 44px;
  height: 48px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 5%;
  right: 5%;
  display: none;
}
.kon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
}
.kon-content h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 60px;
}
.kon-cols {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  width: 800px;
}
.left-col, .right-col {
  margin: 0 20px;
  width: 50%;
}
.left-col p {
  font-size: 16px;
  text-align: justify;
  width: 100%;
}
.left-col a {
  font-size: 16px;
  padding: 15px 40px;
  border: 2px solid #000;
  border-radius: 10px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.left-col a:hover {
  background-color: #000;
  color: #fff;
}
.info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
.info p {
  font-size: 18px;
  margin-left: 20px;
  width: 100%;
}
.right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right-col h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  width: 100%;
}
form {
 width: 100%;;
}
input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
textarea {
  border: 2px solid #000;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
}
input[type=submit] {
  font-size: 16px;
  color: #000;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #000;
  transition: 0.3s;
  margin-bottom: 0;
  font-family: 'Work Sans';
}
input[type=submit]:hover {
  color: #fff;
  background-color: #000;
}
@media only screen and (max-width: 1145px) {
  .kon-cols {
    width: 60%;
  }
}
@media only screen and (max-width: 850px) {
  .headers h1,
  .headers h2 {
    text-align: center ;
  }
  .heading {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }
  .arrow {
    width: 20px;
    height: auto;
    top: 5%;
    right: 5%;
    display: block;
  }
  .arrow img {
    width: 20px;
    height: auto;
  }
  .kon-content {
    margin-top: 120px;
  }
  .kon-cols {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
  }
  .left-col, .right-col {
    width: 100%;
  }
  .left-col {
    margin-bottom: 50px;
  }
  .Kontakt {
    height: 150vh;
  }
}
@media only screen and (max-height: 850px) {
  .Kontakt {
    height: 170vh;
  }
}
@media only screen and (max-height: 750px) {
  .Kontakt {
    height: 180vh;
  }
}
@media only screen and (max-height: 700px) {
  .Kontakt {
    height: 200vh;
  }
}
