
h1, h2 {
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.header h1 {
  font-size: 54px;
  padding-top: 50px;
}
.header h2 {
  font-size: 36px;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-pocetna {
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border: solid 2px #fff;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 15px 40px;
  transition: 0.3s;
}
.cta-pocetna:hover {
  color: #000;
  background-color: #fff;
}

.header img {
  animation: spin 30s linear infinite;
  margin: 70px 0;
  pointer-events: none;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.copyright {
  font-size: 14px;
  color: #fff;
  transform: translate(-50%, -50%);
  bottom: 3%;
  left: 50%;
  position: fixed;
  font-weight: 200;
}

@media only screen and (max-height: 850px) {
  .header img {
    width: 250px;
  }
}
@media only screen and (max-width: 850px) {
  .header img {
    margin-top: 140px;
  }
  .copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 105vh;
  }
}
@media only screen and (max-width: 550px) {
  .header img {
    width: 250px;
  }
  .header h1 {
    font-size: 34px;
  }
  .header h2 {
    font-size: 22px;
  }
  .cta-pocetna {
    font-size: 16px;
  }
}