
h1, h2 {
  color: #fff;
  font-weight: 200;
  text-align: center;
}
.header h1 {
  font-size: 64px;
  padding-top: 50px;
}
.header h2 {
  font-size: 36px;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-pocetna {
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border: solid 2px #fff;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 15px 40px;
  transition: 0.3s;
}
.cta-pocetna:hover {
  color: #000;
  background-color: #fff;
}

.header img {
  animation: spin 30s linear infinite;
  margin: 70px 0;
  pointer-events: none;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
