.Usluge {
  width: 100%;
  height: 100vh;
  padding: 50px 0 0 0;
  background-image: url("../bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

.headers h1,
.headers h2 {
  font-weight: 200;
  text-align: left;
}
.headers h1 {
  font-size: 24px;
}
.headers h2 {
  font-size: 16px;
}

.active::after {
  width: 100%;
}
.logo {
  width: 70px;
  height: auto;
  pointer-events: none;
  margin-right: 10px;
}
.arrow {
  width: 44px;
  height: 48px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 5%;
}
.usl-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
}
.usl-content h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 60px;
}
.usl-slajder {
  width: 460px;
  height: 600px;
}
.kartica {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 50px;
  margin: 0 15px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.kartica img {
  margin-bottom: 20px;
  height: 50px;
}
.kartica h3 {
  font-size: 24px;
  font-weight: 400;
}
.kartica p {
  font-weight: 400;
  font-size: 16px;
  margin: 30px 0;
  text-align: justify;
}
.kartica a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px #000;
  border-radius: 15px;
  padding: 15px 20px;
  transition: 0.3s;
  text-align: center;
}
.kartica a:hover {
  color: #fff;
  background-color: #000;
}
.kartice {
  position: relative;
}
@media only screen and (max-width: 850px) {
  .headers h1,
  .headers h2 {
    text-align: center;
  }
  .heading {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }
  .arrow {
    width: 20px;
    height: auto;
    top: 5%;
    right: 5%;
  }
  .arrow img {
    width: 20px;
    height: auto;
  }
  .usl-content {
    margin-top: 120px;
  }
  .Usluge {
    height: 130vh;
  }
}
@media only screen and (max-width: 550px) {
  .kartica {
    width: 100%;
    margin: 0;
    border-radius: 0;
    height: 450px;
  }
  .usl-slajder {
    width: 100%;
    height: 550px;
  }
}
