* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.App {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.copyright {
  font-size: 14px;
  color: #fff;
  transform: translate(-50%, -50%);
  bottom: 3%;
  left: 50%;
  position: fixed;
  font-weight: 200;
}

.row {
  display: flex;
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
  flex-direction: column;
  align-items: center;
}

.links {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.links::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 0;
  display: block;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out 0s;
}
.links:hover::after {
  visibility: visible;
  width: 100%;
}
.row .active {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .row {
    flex-direction: row;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    justify-content: center;
  }
  .links {
    margin: 0 10px;
    font-size: 24px;
    width: auto;
  }
  .links::after {
    top: 30px;
  }
  .copyright {
    width: 100%;
    text-align: center;
    position: absolute;
  }
}
@media only screen and (max-width: 550px) {
  .links {
    font-size: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .links {
    font-size: 16px;
  }
}

